<h2>Dashboard</h2>
<hr>
<div>
    <ul class="nav nav-pills">
      <li  class="nav-item" *ngFor="let reference of allReferences" (click)="selectReference(reference)">
        <a [class.active]="reference === currentReference" class="nav-link" >{{reference.name}}</a>
      </li>
      <li class="nav-item">
        <!--Button trigger modal-->
        <a class="nav-link" data-toggle="modal" data-target="#createReference">
          NEW REFERENCE
        </a>
      </li>
    </ul>

    <div *ngIf="currentReference">
        <hr>
        <!--<nav>
            <ul class="nav nav-tabs">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"  [routerLink]="['reference']">Reference</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" [routerLink]="['chapter']">Chapter</a>
                </li>
            </ul>
        </nav>

        <div>
            <router-outlet></router-outlet>
        </div>-->

        <div>
            <app-tabs [(currentReference)]="currentReference" (functionEmitter)="reloadInfo($event)" ></app-tabs>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="createReference" tabindex="-1" role="dialog" aria-labelledby="createReferenceLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createReferenceLabel">Create New Reference</h5>
        <button type="button" class="close" data-dismiss="modal"  #createInput aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onCreateNewReference()">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Reference Name:</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="newReferenceName" name="newReferenceName">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Reference Description:</label>
            <textarea class="form-control"
                      [(ngModel)]="newReferenceDescription" name="newReferenceDescription"></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
