
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active"
       id="reference-tab" data-toggle="tab" href="#references" role="tab" aria-controls="home" aria-expanded="true">Reference</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       id="chapters-tab" data-toggle="tab" href="#chapters" role="tab" aria-controls="profile">Chapters</a>
  </li>
  <!--<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item"
         id="dropdown1-tab" href="#dropdown1" role="tab" data-toggle="tab" aria-controls="dropdown1">@fat</a>
      <a class="dropdown-item"
         id="dropdown2-tab" href="#dropdown2" role="tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a>
    </div>
  </li>-->
</ul>
<br>
<div class="tab-content" id="myTabContent">
  <!-- REFERENCE TAB -->
  <div class="tab-pane fade show active" id="references" role="tabpanel" aria-labelledby="reference-tab">
             <div class="jumbotron">
              <h1 class="display-3">{{ currentReference.name }}</h1>
              <p class="lead">{{ currentReference.description }}</p>
              <hr class="my-4">
              <p class="lead">
                <!--Button update reference modal-->
                <button type="submit" class="btn btn-primary btn-lg" (click)="onUpdateReference()" data-toggle="modal" data-target="#updateReference">
                  Update
                </button>
                <!-- Button drop reference -->
                <button type="submit" class="btn btn-danger btn-lg" (click)="onDropReference()" data-toggle="modal" data-target="">
                  Drop
                </button>
              </p>
            </div>
    </div>
    <!-- CHAPTERS TAB -->
    <div class="tab-pane fade" id="chapters" role="tabpanel" aria-labelledby="chapters-tab">
        <!--Button trigger create chapter modal--><p>
        <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#createChapter">
          New Chapter
        </button>
        <div class="row" *ngFor="let group of allChaptersGrouped; let i = index">
          <div class="col-md-4" *ngFor="let chapter of allChaptersGrouped[i]">
              <div>
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{chapter.title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">{{chapter.introduction}}</p>
                    <button type="button" class="card-link btn btn-link" (click)="onUpdateChapter(chapter)"
                            data-toggle="modal" data-target="#updateChapter">Update</button>
                    <button type="button" class="card-link btn btn-link" (click)="onDropChapter(chapter)">Drop</button>
                    <a href="" class="card-link"></a>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- Dropdown -->
    <!--<div class="tab-pane fade"
       id="dropdown1"
       role="tabpanel"
       aria-labelledby="dropdown1-tab">Dropdown 1 ...
    </div>
    <div class="tab-pane fade"
       id="dropdown2"
       role="tabpanel"
       aria-labelledby="dropdown2-tab">Dropdown 2 ...
    </div>-->
</div>

<!-- REFERENCE MODAL-->
<div class="modal fade" id="updateReference" tabindex="-1" role="dialog" aria-labelledby="referenceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="referenceModalLabel">Update Reference</h5>
        <button type="button" class="close" data-dismiss="modal" #updateInput aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onUpdateReferenceModal()">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Reference Name:</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="updateReferenceName" name="updateReferenceName">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Reference Description:</label>
            <textarea class="form-control"
                      [(ngModel)]="updateReferenceDescription" name="updateReferenceDescription"></textarea>
          </div>
          <button type="submit" (click)="onEdit()" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- CHAPTER CREATE MODAL -->
<div class="modal fade" id="createChapter" tabindex="-1" role="dialog" aria-labelledby="chapterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chapterModalLabel">New Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" #createChapterInput aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onCreateChapterModal()">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Chapter Title:</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="newChapterTitle" name="newChapterTitle">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Chapter Introduction:</label>
            <textarea class="form-control"
                      [(ngModel)]="newChapterIntroduction" name="newChapterIntroduction"></textarea>
          </div>
          <button type="submit" (click)="onCreateChapter()" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- CHAPTER UPDATE MODAL -->
<div class="modal fade" id="updateChapter" tabindex="-1" role="dialog" aria-labelledby="chapterUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chapterUpdateModalLabel">Update Chapter</h5>
        <button type="button" class="close" data-dismiss="modal" #updateChapterInput aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onUpdateChapterModal()">
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Chapter Title:</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="updateChapterTitle" name="updateChapterTitle">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Chapter Introduction:</label>
            <textarea class="form-control"
                      [(ngModel)]="updateChapterIntroduction" name="updateChapterIntroduction"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
